body {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;

    }



/* Hela sektionen */
.top {
    font-family: "helvetica";
    font-style: normal;
    font-size: 16px;
    font-stretch:extra-condensed;
    letter-spacing: .09em;
    text-transform: uppercase;
    background-color: lightgrey; 
    background-image: url("pics/Header-Mazzarini-stor.jpeg");
    background-position: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: block;
    }
    
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        padding-block: 50px;

    }

    .header {
        display: grid;
        min-height: 30px;
        grid-auto-flow: column;
        background-color: transparent;
        grid-gap: 9em;
        padding: 40px 40px;
        margin-bottom: none;
    
    }

    #links {
        display: grid;
        justify-content:center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 1em;
    }
    
    #links a {
        text-decoration: none;
        font-size: 16px;
        font-family: "helvetica", "sans-serif";
        font-weight: 700;
        font-style: normal;
        font-stretch: extra-condensed;
        color: white;
    }
        
    #links a:hover {
        color: #e73b2b;
    }

    h1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10em;
        padding-bottom: 100px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        
    
}




/* INTRO-SEKTIONEN */
.intro {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5em;
    }

    .welcome {
        padding-left: 10em;
        padding-right: 10em;
        font-family: "proxima-nova", "helvetica", "sans-serif";
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .07em;
        line-height: 1.5em;
        text-transform: none;
        color: rgb(33, 30, 30);
    }

    .gallery {
        margin-left: auto;
        margin-right: auto;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 20px;
       
    }

    .gallery-item {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 200px;
    }

      
    .gallery-item > img {
        object-fit: cover;
        object-position: center;
        max-inline-size: 100%;
      
  
      
}

      

/* FOOTER*/
.container{ 
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    

    }
    
    .c1{
     width: 40%;
     padding: 20px
     
     }

    .c2{
     width: 40%;
     padding: 20px
}

li{
    list-style-type: none;
}

footer {
    background-color: white;
    font-size: 18px;
    font-family: "proxima-nova";
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.26px;
    line-height: 27px;
 
    }
    
    h4 {
        color: #e73b2b;
        font-size: 30px;
        font-family: "futura", "helvetica";
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.6px
    }

    a {
        color: black;
    }
    
    a:hover {
        color: gray;
}

/* ABOUT-SIDAN ABOUT-SIDAN ABOUT-SIDAN ABOUT-SIDAN */
/* ABOUT-SIDAN ABOUT-SIDAN ABOUT-SIDAN ABOUT-SIDAN*/

#top-about {
    background-image: url("pics/rawpixel-211021-about.jpeg");
    padding-bottom: 3em;
}


/* MENY-SIDAN MENY-SIDAN MENY-SIDAN MENY-SIDAN */
/* MENY-SIDAN MENY-SIDAN MENY-SIDAN MENY-SIDAN*/

#top-menu {
    background-image: url("pics/mazzarini_cover_menu.png");
    padding-bottom: 3em;
}


.meny{
    text-align: right;
    }

    h2 {
        text-align: center;
        font-style: bold;
        font-family: "Helvetica";
        padding-top: 2em;
    }

    table{
        text-align: left;
        border: 5px solid rgba(173, 173, 173, 0.26);
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        font-family: "futura";
        background-color: white;
        color: black;

    }

    th{
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    td{
     padding-left: 20px;
     padding-right: 20px;
}

     
/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */
/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */

#top-contact {
    background-image: url("pics/rawpixel-211021-about.jpeg");
    padding-bottom: 5em;

}

.contact-image-head {
    font-family: "helvetica";
    justify-content: center;
    text-align: center;
    padding-top: 1em;
}


.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    padding-bottom: 5px;

}


form {
    display: block;
    margin-left: 22%;
    margin-right: 10%;
    text-align:left;
    font-family: "helvetica";
    font-style: bold;
}

    
h2 {
    font-family: "helvetica";
    color: #e73b2b;
    text-align: center;
}
  


div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 70%;
    display: inline-block;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: "helvetica";
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 1px solid rgb(199, 193, 193);
    background-color: rgba(238, 238, 238, 0.214);
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Proxima-nova';
    width: 50%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 40%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
    width: 50%;
  }
  
  
  button {
    height: 60px;
    background: #1c1c1c;
    border: none;
    color: white;
    font-size: 1.15em;
    font-family: 'helvetica';
    border-radius: 4px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 70px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: rgb(75, 75, 75);
  }

